<header>
    <nav>
        <a href="/">Imobiliaria</a>
        <ul>
            <li><a href="/vendedores">Vendedores</a></li>
            <li><a href="/vendedores/new">Add New Vendedor</a></li>
        </ul>
    </nav>
</header>